# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# Build Artifacts & Large Binary Releases
*.app
*.dmg
*.pkg
*.iconset
*.o
*.dSYM/
*.tmp
MacCleanOptimizer*.app
MacCleanOptimizer 2.app/
MacCleanOptimizer 3.app/
MacCleanOptimizer 4.app/
